@import url(https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1);
body {
    font-family: 'Libre Franklin';
}

h1, h2, h3 {
    font-family: 'Libre Franklin';
    font-weight: 100google;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.remark-inline-code {
    background: #eee;
    padding: 0.1em;
}

img.middle {
    vertical-align: -16%;
}

img.center {
    position: absolute;
    top: 0;
}

kbd {
    font-family: 'Ubuntu Mono';
    display: inline-block;
    border-radius: 3px;
    padding: 0px 4px;
    box-shadow: 1px 1px 1px #777;
    margin: 2px;
    vertical-align: text-bottom;
    background: #eee;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    font-variant: small-caps;
    font-weight: 600;
  
    /* This two work */
    /* letter-spacing: 0.5px; */
    letter-spacing: 1px;
  
  
    /* Prevent selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }