@import "node_modules/ol/ol.css";
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

#map {
  height: 400px;
  width: 100%;
}

.custom-mouse-position {
  right: 0;
  position: absolute;
  margin: 1em;
  background-color: black;
  color: pink;
  padding: 0 0.5em;
  border-radius: 0.5em;
  font-family: 'Bungee', sans-serif;
}
